
<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="es-ES" >
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# zoomvideocall: http://ogp.me/ns/fb/zoomvideocall#">
<title>Descarga para Windows - Zoom</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="referrer" content="origin-when-cross-origin">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<meta name="google-site-verification" content="8WU-FkemSTzA1EpoynHUDYe2UxPXiMS53FBXk6_qVy4" />
<meta name="google-site-verification" content="J_tzcwoKXfPkhsWbiS7cM6WEn3pjCr_DhMNmhRtd960" />
<meta name="google-site-verification" content="o7_kGQ-oKZjWTkzWK3NYR9JUf3SvQKIBwjHgqTE_FHU" />
<meta name="google-site-verification" content="QXsuSwndXLLWh52gEd4ig7alEmTyDp0NPo4GCKsUH5k" />
<meta name="google-site-verification" content="Vt60qsrxhpi8GdAMlhQod8oxA2LAtN908SnMDdelCYc" />
<meta name="google-site-verification" content="v3_Ow9RbJsRZ9MLl--QrhABeFcA9oP7OBXhY50O4QuA" />
<meta name="google-site-verification" content="0fZHb1ni-k_iNiYVnomwmnY9ITBunxqU8VC49mHDNxc" />
<meta name="p:domain_verify" content="2bec2c9f9a864e14528964bf24c404b3" />
<meta name="keywords" content="zoom, zoom.us, conferencia por vídeo, videoconferencia, reuniones en línea, reunión en la web, reunión con vídeo, reunión en la nube, vídeo en la nube, videollamadas en la nube, chat de video en grupo, intercambio de pantalla, intercambio de aplicación, movilidad, colaboración por móvil, intercambio de escritorio, videocolaboración, mensajería de grupo" />
<meta name="description" content="Zoom es el líder en las comunicaciones empresariales modernas de vídeos y cuenta con una plataforma fiable y fácil de usar, destinada a vídeo y audioconferencias, chats y seminarios web para móviles, escritorios y sistemas de sala. Zoom Rooms es la original solución de sala de conferencias basada en software y utilizada en todo el mundo en salas de formación, de reunión, de conferencia y de junta, así como también en aulas y oficinas ejecutivas. Fundada en 2011, Zoom ayuda a empresas y organizaciones a unir sus equipos y a aumentar su productividad en un entorno libre de complicaciones. Zoom es una empresa con cotización oficial y con sede en San José, California, EE. UU." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://zoom.us/" />
<meta property="og:title" content="Videoconferencias, conferencias web, seminario web, uso compartido de pantalla" />
<meta property="og:description" content="Zoom es el líder en las comunicaciones empresariales modernas de vídeos y cuenta con una plataforma fiable y fácil de usar, destinada a vídeo y audioconferencias, chats y seminarios web para móviles, escritorios y sistemas de sala. Zoom Rooms es la original solución de sala de conferencias basada en software y utilizada en todo el mundo en salas de formación, de reunión, de conferencia y de junta, así como también en aulas y oficinas ejecutivas. Fundada en 2011, Zoom ayuda a empresas y organizaciones a unir sus equipos y a aumentar su productividad en un entorno libre de complicaciones. Zoom es una empresa con cotización oficial y con sede en San José, California, EE. UU." />
<meta property="og:image" content="https://st3.zoom.us/static/94180/image/thumb.png" />
<meta property="og:site_name" content="Zoom Video" />
<meta property="fb:app_id" content="113289095462482" />
<meta property="twitter:account_id" content="522701657" />
<link rel="shortcut icon" href="https://st1.zoom.us/zoom.ico" />
<link rel="canonical" href="https://zoom.us/support/download" />
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/kgjfgplpablkjnlkjmjdecgdpfankdle" />
<script nonce="II5ecTnRQSi6DITXqzAnnQ" type="text/javascript">
var resourceAccountIdRoutingURl = "";
resourceAccountIdRoutingURl = resourceAccountIdRoutingURl==""?undefined:resourceAccountIdRoutingURl;
</script>
<link type="text/css" rel="stylesheet" href="https://st1.zoom.us/static/94180/css/all.min.css" />
<style>
#chrome_download_tip
{
position: absolute;
bottom: 60px;
left: 30px;
opacity: 0;
filter: alpha(opacity=0);
}
#support-download {
max-width: 600px;
margin: 56px auto;
text-align: center;
}
#support-download .down-title h1 {
font-size: 32px;
margin-bottom: 20px;
}
#support-download .down-desc {
font-size: 15px;
margin-bottom: 88px;
}
#support-download .down-desc2 {
font-size: 20px;
color: rgb(58,60,62);
margin-bottom: 24px;
font-weight: 300;
}
#support-download table.mobile
{
margin: 0 auto;
}
#support-download table.mobile td
{
padding: 0 12px;
text-align: center;
}
#support-download table.mobile td img
{
width: 200px;
height: 72px;
}
.mobile > .img {
display: inline-block;
margin-bottom: 5px;
margin-right: 20px;
}
</style>
<style>
body div.combobox div.dropdownlist{
width: calc(100% + 2px) !important;
}
</style>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="/csrf_js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ">
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
'country': 'mx'
});
//ZOOM-163677
window.sctyName = '{\"TW\":\"country.TW-TW\",\"CN\":\"country.CN\"}';
</script>
<link rel="stylesheet" href="https://st1.zoom.us/static/94180/js/lib/vue/advanced/notification/notification.min.css">
<link rel="stylesheet" type="text/css" href="https://st1.zoom.us/static/94180/css/vue/zoom-components.min.css"/>
<link rel="stylesheet" type="text/css" href="https://st3.zoom.us/static/94180/js/lib/vue/advanced/popup-captcha/popup-captcha.min.css"/>
</head>
<body class="    " data-cd=".zoom.us">
<div class="total-main-content">
<div id="skiptocontent">
<a role="complementary" aria-label="skip" href="#the-main-content">Skip to main content</a>
</div>
<div id="header_container" class="   zoom-newhd">
<div id="header_outer" class="container clearfix  zoom-newhd">
<div id="header" class="navbar navbar-default navbar-fixed-top">
<div id="black-topbar" class="hidden-xs noanimate" role="navigation" aria-label="Resources">
<div class="container" role="menubar">
<ul class="list-inline pull-right" role="menubar">
<li role="none">
<a
role="menuitem"
href="https://explore.zoom.us/es-es/livedemo.html"

onClick="ga('send', 'event', 'requestdemo', 'click-nav-requestademo', 'Header Nav Contact Sales');">
Request a Demo</a>
</li>
<li role="none">
<a
role="menuitem"
href="tel:1.888.799.9666"
class="support-phone"
onClick="ga('send', 'event', 'contact', 'click-homepage-phone-number', 'Click Homepage Phone Number');">
1.888.799.9666
</a>
</li>
<li role="none" class="dropdown" id="resources" aria-haspopup="true">
<a id="btnResouces" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Recursos <span class="caret"></span></a>
<ul id="resourcesDropdown" class="dropdown-menu">
<li role="none"><a role="menuitem" href="https://zoom.us/download#client_4meeting" onClick="">Descargar el cliente de Zoom</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://support.zoom.us/hc/es/articles/206618765-Zoom-Video-Tutorials" onClick="">Tutoriales en video</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/livetraining.html" onClick="">Capacitación en vivo</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://zoom.us/events" onClick="">Seminarios web y eventos</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://blog.zoom.us/" onClick="">Blog de Zoom</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://support.zoom.us/hc/es/articles/206175806-Top-Questions" onClick="">Preguntas frecuentes</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://zoom.us/trust" onClick="">Privacidad y seguridad</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://zoom.us/virtual-backgrounds" target="_blank">Fondos virtuales de Zoom</a></li>
<li role="none"><a role="menuitem" href="https://zoom.us/docs/en-us/covid19.html" target="_blank">Recursos de COVID-19</a></li>
</ul>
</li>
<li><a role="menuitem" href="https://support.zoom.us/hc/es" target="_blank" onClick="ga('send', 'event', 'product', 'click-nav-support', 'Header Nav Support');">Soporte</a></li>
</ul>
</div>
</div>
<div class="container" role="banner">
<div class="navbar-header ">
<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button" value="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<ul class="list-inline pull-right visible-xs" style="line-height: 50px;">
<li style="padding-right: 15px;"><a href="https://zoom.us/join" target="_blank">ENTRAR</a></li>
<li style="padding-right: 15px;"><a id="mobile-host-btn" href="/start/videomeeting" target="_blank">ANFITRIÓN</a></li>
</ul>
<div class="left">
<a class="imglink" href="https://zoom.us/">
<img class="logo" src="https://st1.zoom.us/static/94180/image/new/ZoomLogo.png" alt="Zoom Logo"/>
</a>
</div>
</div>
<div>
<div class="navbar-collapse collapse" id="navbar">
<ul class="nav navbar-nav" role="navigation" aria-label="product information">
<li class='visible-xs divider' role='presentation'></li>
<li role="none" class='dropdown mobile-hide' id='solution' aria-haspopup='true'>
<a id='btnSolutions' href='javascript:;' class='dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>SOLUCIONES <span class='caret'></span></a>
<ul id='solutionsDropdown' class='dropdown-menu first-dropdown'>
<li role="none" id="first-col-nav" class='mega-menu-4-of-12 first-col'>
<h4 class='mega-block-title'>PRODUCTOS</h4>
<div class='textwidget'>
<ul role="list">
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/meetings.html' onclick="ga('send', 'event', 'product', 'click-nav-solutions-meetings', 'Header Nav Solutions Meetings and Chat');">
<h3>Reuniones</h3>
<p>Colaboración por audio y vídeo HD</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/feature/messaging.html' onclick="ga('send','event','product','click-nav-solutions-chat','Header Nav Solutions Chat');">
<h3>Chat</h3>
<p>Conecte sus equipos y optimice las comunicaciones</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/zoomrooms.html' onclick="ga('send', 'event', 'product', 'click-nav-solutions-rooms', 'Header Nav Solutions Rooms and Workspaces');">
<h3>Salas y espacios de trabajo</h3>
<p>Potencie sus salas de conferencia con vídeo</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/phonesystem.html' onclick="ga('send', 'event', 'product', 'click-nav-solutions-voice', 'Header Nav Solutions Voice');">
<h3>Sistema telefónico</h3>
<p>Sistema de teléfono en la nube para empresas</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/webinar.html' onclick="ga('send', 'event', 'product', 'click-nav-solutions-webinar', 'Header Nav Solutions Webinars');">
<h3>Seminarios web con vídeo</h3>
<p>Con funciones completas, fácil de usar, seminarios web atractivos</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/redirect_marketplace.html' onclick="ga('send', 'event', 'product', 'click-nav-solutions-appmarketplace', 'Header Nav Solutions App Marketplace');">
<h3>Marketplace</h3>
<p>Integraciones y bots para usar con Zoom</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://developers.zoom.us' onclick="ga('send', 'event', 'product', 'click-nav-solutions-marketplace', 'Header Nav Solutions Developer Platform');">
<h3>Plataforma para desarrolladores</h3>
<p>API, SDK y más para ampliar y mejorar Zoom</p>
</a>
</li>
</ul>
</div>
</li>
<li role="none" id="second-col-nav" class='mega-menu-4-of-12 second-col'>
<h4 class='mega-block-title'>INDUSTRIAS</h4>
<div class='textwidget'>
<ul role="list">
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/education.html' onclick="ga('send', 'event', 'product', 'click-nav-industries-education', 'Header Nav Industries Education');">
<h3>Educación</h3>
<p>Expanda las aulas tradicionales en la nube</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/finance.html' onclick="ga('send', 'event', 'product', 'click-nav-industries-finance', 'Header Nav Industries Finance');">
<h3>Finanzas</h3>
<p>Mejorar la experiencia y la comunicación del cliente</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/government.html' onclick="ga('send', 'event', 'product', 'click-nav-industries-government', 'Header Nav Industries Government');">
<h3>Gobierno</h3>
<p>Incrementa la productividad y el compromiso para todas las agencias</p>
</a>
</li>
<li role="none">
<a role="menuitem" href='https://explore.zoom.us/es-es/healthcare.html' onclick="ga('send', 'event', 'product', 'click-nav-industries-healthcare', 'Header Nav Industries Healthcare');">
<h3>Atención médica</h3>
<p>Habilitación de flujos de trabajo y tecnología de telesalud que cumple con la HIPAA</p>
</a>
</li>
</ul>
</div>
</li>
<li id="promo-col-nav" class='mega-menu-4-of-12 third-col nav-promo'>
</li>
</ul>
</li>
<li class="dropdown mobile-products" id="solution" aria-haspopup="true">
<a id="btnSolutions" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">PRODUCTOS <span class="caret"></span></a>
<ul id="solutionsDropdown" class="dropdown-menu mobile-products-nav" style="">
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/meetings.html" onclick="ga('send', 'event', 'product', 'click-nav-solutions-meetings', 'Header Nav Solutions Meetings and Chat');">Reuniones</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/zoomrooms.html" onclick="ga('send', 'event', 'product', 'click-nav-solutions-rooms', 'Header Nav Solutions Rooms and Workspaces');">Salas y espacios de trabajo</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/voice.html" onclick="ga('send', 'event', 'product', 'click-nav-solutions-voice', 'Header Nav Solutions Voice');">Sistema telefónico</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/webinar.html" onclick="ga('send', 'event', 'product', 'click-nav-solutions-webinar', 'Header Nav Solutions Webinars');">Seminarios web con vídeo</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li><a role="menuitem" href="https://explore.zoom.us/es-es/redirect_marketplace.html" onclick="ga('send', 'event', 'product', 'click-nav-solutions-appmarketplace', 'Header Nav Solutions App Marketplace');">Marketplace</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li><a role="menuitem" href="https://developers.zoom.us" onclick="ga('send', 'event', 'product', 'click-nav-solutions-marketplace', 'Header Nav Solutions Developer Platform');">Plataforma para desarrolladores</a></li>
</ul>
</li>
<li class='visible-xs divider mobile-hide' role='presentation'></li>
<li role="none" class="dropdown mobile-industries" id="solution" aria-haspopup="true">
<a id="btnSolutions" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">INDUSTRIAS <span class="caret"></span></a>
<ul id="solutionsDropdown" class="dropdown-menu" style="">
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/education.html" onclick="ga('send', 'event', 'product', 'click-nav-industries-education', 'Header Nav Industries Education');">Educación</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/finance.html" onclick="ga('send', 'event', 'product', 'click-nav-industries-finance', 'Header Nav Industries Finance');">Finanzas</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/government.html" onclick="ga('send', 'event', 'product', 'click-nav-industries-government', 'Header Nav Industries Government');">Gobierno</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/healthcare.html" onclick="ga('send', 'event', 'product', 'click-nav-industries-healthcare', 'Header Nav Industries Healthcare');">Atención médica</a></li>
</ul>
</li>
<li class='visible-xs divider' role='presentation'></li>
<li role="none"><a role="menuitem" class='top-pricing' style='text-transform : uppercase;' href='/pricing' >Planes y precios</a></li>
<li class='visible-xs divider' role='presentation'></li>
<li role="none"><a role="menuitem" class='top-contactsales top-sales' style='text-transform : uppercase;' href="https://explore.zoom.us/es-es/contactsales.html" >Contacto de ventas</a></li>
<li class='visible-xs divider' role='presentation'></li>
</ul>
<ul class="nav navbar-nav navbar-right" role="navigation" aria-label="meetings">
<li role="none"><a role="menuitem" id="btnJoinMeeting" tracking-id="headerMenuJoin" tracking-category="NavHeader" class="hidden-xs" href="https://zoom.us/join" class="joinameeting light" onClick="ga('send', 'event', 'product', 'click-nav-joinmeeting', 'Header Nav Join a Meeting');">ENTRAR A UNA REUNIÓN</a></li>
<li role="none">
<div id="dropdown-hostmeeting" class="dropdown hidden-xs" aria-haspopup="true">
<a id="btnHostMeeting" data-toggle="dropdown" href="javascript:;" class="hostmeeting" aria-expanded="false" onClick="ga('send', 'event', 'product', 'click-nav-hostmeeting', 'Header Nav Host a Meeting');">SER ANFITRIÓN DE UNA REUNIÓN <span class="caret"></span></a>
<ul id="hostMeetingDropdown" class="dropdown-menu">
<li role="none">
<a role="menuitem" tracking-id="headerMenuHostVideoOFF" tracking-category="NavHeader" href="/start/webmeeting">
Con VIdeo Apagado</a>
</li>
<li role="none">
<a role="menuitem" tracking-id="headerMenuHostVideoON" tracking-category="NavHeader" href="/start/videomeeting">
Con VIdeo Encendido</a>
</li>
<li role="none">
<a role="menuitem" tracking-id="headerMenuScreenShare" tracking-category="NavHeader" href="/start/sharemeeting">
Solo Compartir Pantalla</a>
</li>
</ul>
</div>
</li>
<li role="none">
<ul class="nav navbar-nav visible-xs" role="menubar">
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://explore.zoom.us/es-es/livedemo.html" onClick="ga('send', 'event', 'requestdemo', 'click-nav-requestademo', 'Header Nav Contact Sales');">Request a Demo</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://support.zoom.us/hc/es/articles/206175806-Top-Questions" target="_blank" onClick="ga('send', 'event', 'product', 'click-nav-FAQ', 'Header Nav FAQ');">Preguntas frecuentes</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="https://support.zoom.us/hc/es" target="_blank" onClick="ga('send', 'event', 'product', 'click-nav-support', 'Header Nav Support');">Soporte</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li role="none"><a role="menuitem" href="tel:1.888.799.9666" class="support-phone" onClick="ga('send', 'event', 'contact', 'click-homepage-phone-number', 'Click Homepage Phone Number');"><span class="mobile-phone"></span>1.888.799.9666</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
<div id="header_login" class="hideme">
<ul>
<li class="visible-xs divider" role="presentation"></li>
<li class="signin"><a class="link" href="https://zoom.us/signin" onClick="ga('send', 'event', 'product', 'click-nav-signin', 'Header Nav Sign In');">INGRESAR</a></li>
<li class="visible-xs divider" role="presentation"></li>
<li><div id="signupfree" class="hidden-xs"><a class="btn cta-bgyellow signupfree" role="button" href="https://zoom.us/signup" onClick="ga('send', 'event', 'freesignup', 'click-nav-signupfree', 'Header Nav Sign up Free');">REGÍSTRESE, ES GRATUITA</a></div></li>
<li><a class="visible-xs" href="https://zoom.us/signup" onClick="ga('send', 'event', 'freesignup', 'click-nav-signupfree', 'Header Nav Sign up Free');">REGÍSTRESE, ES GRATUITA</a></li>
</ul>
</div>
</div>
</div>
<div id="content_container"  class="zoom-newcontent ">
<div id="content_success_msg" role="alert" aria-live="assertive" class="alert alert-success hideme zoom-newmessage"></div>
<div id="content" class="main-content">
<div id="notice-slot"></div>
<div id="imgroup-guide-notice-slot">
<imgroup-notice />
</div>
<div class="mini-layout" id="support-download">
<div class="mini-layout-body">
<div class="down-header">
<div class="down-title">
<h1>Ahora estamos descargando Zoom ...</h1>
</div>
<div class="down-desc">
Su descarga debería comenzar automáticamente dentro de algunos segundos.<br/> Si no es así, <a ui-cmd="DownWin" ui-cat="Web.Down" href="https://zoom.us/client/latest/ZoomInstaller.exe">reinicie la descarga</a></div>
<div class="down-desc2">
Zoom está disponible para móviles y tablets.</div>
</div>
<table class="mobile">
<tr>
<td>
<a href="https://itunes.apple.com/us/app/id546505307" target="_blank">
<img src="https://st2.zoom.us/static/94180/image/new/download/AppStore.png" alt="Descargar en la App Store" />
</a>
</td>
<td>
<a href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings" target="_blank">
<img src="https://st1.zoom.us/static/94180/image/new/download/GooglePlay.png" alt="Descargar en Google Play" />
</a>
</td>
</tr>
</table>
</div>
</div>
<img id="chrome_download_tip" src="https://st1.zoom.us/static/94180/image/arrowforchrome.png" alt="Sugerencia de descarga" />
</div>
</div>
<div id="video_dialog" role="alertdialog" class="noheaderfooterdialog modaldialog hideme">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header clearfix">
<div class="modal-title"></div>
<button class="close simplemodal-close" aria-label="close">&times;</button>
</div>
<div class="modal-body">
<div class="modal-body-container">
</div>
</div>
</div>
</div>
</div>
<div id="footer_container"  role="contentinfo">
<div class="">
<div id="footer-new">
<div class="footer-body">
<div class="ft-nav">
<div class="ft-about">
<div class="h4" role="heading" aria-level="2"><a href="https://explore.zoom.us/es-es/about.html">Acerca de</a></div>
<ul>
<li><a href="https://blog.zoom.us/" tracking-id="footerBlog" tracking-category="NavFooter">Blog de Zoom</a></li>
<li><a href="https://explore.zoom.us/es-es/customer/all.html">Clientes</a></li>
<li><a href="https://explore.zoom.us/es-es/team.html">Nuestro equipo</a></li>
<li><a href="https://explore.zoom.us/es-es/careers.html">Carreras</a></li>
<li><a href="https://explore.zoom.us/es-es/integrations.html">Integraciones</a></li>
<li><a href="https://partner.zoom.us"/>Socios</a></li>
<li><a href="https://investors.zoom.us/">Inversores</a></li>
<li><a href="https://zoom.us/press">Prensa</a></li>
<li><a href="https://zoom.us/media-kit">Kit multimedia</a></li>
<li><a href="https://explore.zoom.us/es-es/resources.html">Videos instructivos</a></li>
<li><a href="https://developers.zoom.us/">Plataforma para desarrolladores</a></li>
</ul>
</div>
<div class="ft-download" style="">
<div class="h4" role="heading" aria-level="2"><a href="https://zoom.us/download" tracking-id="footerDownload" tracking-category="NavFooter">Descargar</a></div>
<ul>
<li><a href="https://zoom.us/download#client_4meeting" tracking-id="footerDownloadClient" tracking-category="NavFooter">Cliente de reuniones</a></li>
<li><a href="https://zoom.us/download#room_client" tracking-id="footerDownloadZR" tracking-category="NavFooter">Cliente de Zoom Rooms</a></li>
<li><a href="https://zoom.us/download#chrome_ext" tracking-id="footerDownloadExtension" tracking-category="NavFooter">Extensión de navegador</a></li>
<li><a href="https://zoom.us/download#outlook_plugin" tracking-id="footerDownloadOPlugin" tracking-category="NavFooter">Complemento de Outlook</a></li>
<li><a href="https://zoom.us/download#lync_plugin" tracking-id="footerDownloadLyncPlugin" tracking-category="NavFooter">Complemento de Lync</a></li>
<li><a href="https://zoom.us/download#client_iphone" tracking-id="footerDownloadiOS" tracking-category="NavFooter">Aplicación de iPhone/iPad</a></li>
<li><a href="https://zoom.us/download#mobile_app" tracking-id="footerDownloadAndroid" tracking-category="NavFooter">Aplicación de Android</a></li>
<li><a href="https://zoom.us/virtual-backgrounds" tracking-category="NavFooter">Fondos virtuales de Zoom</a></li>
</ul>
</div>
<div class="ft-sales">
<div class="h4" role="heading" aria-level="2"><a href="https://explore.zoom.us/es-es/contactsales.html">Ventas</a></div>
<ul>
<li><a href="tel:1.888.799.9666" class="support-phone">1.888.799.9666</a></li>
<li><a href="https://explore.zoom.us/es-es/contactsales.html">Contactarse con ventas</a></li>
<li><a href="https://zoom.us/pricing">Planes y precios</a></li>
<li><a href="https://explore.zoom.us/es-es/livedemo.html" tracking-id="footerRequestDemo" tracking-category="NavFooter">Solicite una demostración</a></li>
<li><a href="https://zoom.us/events" tracking-id="footerWebinars" tracking-category="NavFooter">Seminarios web y eventos</a></li>
</ul>
</div>
<div class="ft-support">
<div class="h4" role="heading" aria-level="2">
<a href="https://support.zoom.us/hc/es" tracking-id="footerSupport" tracking-category="NavFooter" target="_blank">
Soporte</a>
</div>
<ul>
<li><a href="https://zoom.us/test">Probar Zoom</a></li>
<li><a href="https://zoom.us/account">Cuenta</a></li>
<li>
<a href="https://support.zoom.us/hc/es" tracking-id="footerSupport2" tracking-category="NavFooter" target="_blank">
Centro de soporte</a>
</li>
<li><a href="https://explore.zoom.us/es-es/livetraining.html" tracking-id="footerTraining" tracking-category="NavFooter">Capacitación en vivo</a></li>
<li><a href="https://zoom.us/feed">Comentarios</a></li>
<li><a href="https://explore.zoom.us/es-es/contact.html">Contacto</a></li>
<li><a href="https://explore.zoom.us/es-es/accessibility.html">Accesibilidad</a></li>
<li><a href="https://explore.zoom.us/es-es/privacy-and-security.html">Privacidad y seguridad</a></li>
</ul>
</div>
<div class="cm-language">
<div class="h4" role="heading" aria-level="2"><span style="color:#eaeaea;">Idioma</span></div>
<ul class="clearfix">
<li>
<div class="dropdown-language dropdown" role="presentation">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-haspopup="true">
<span>Español</span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu pull-right">
<li class=""><a href="javascript:;" data-locale="en-US">English</a></li>
<li class="active"><a href="javascript:;" data-locale="es-ES">Español</a></li>
<li class=""><a href="javascript:;" data-locale="de-DE">Deutsch</a></li>
<li class=""><a href="javascript:;" data-locale="zh-CN">简体中文</a></li>
<li class=""><a href="javascript:;" data-locale="zh-TW">繁體中文</a></li>
<li class=""><a href="javascript:;" data-locale="fr-FR">Français</a></li>
<li class=""><a href="javascript:;" data-locale="pt-PT">Português</a></li>
<li class=""><a href="javascript:;" data-locale="jp-JP">日本語</a></li>
<li class=""><a href="javascript:;" data-locale="ru-RU">Русский</a></li>
<li class=""><a href="javascript:;" data-locale="ko-KO">한국어</a></li>
<li class=""><a href="javascript:;" data-locale="it-IT">Italiano</a></li>
<li class=""><a href="javascript:;" data-locale="vi-VN">Tiếng Việt</a></li>
</ul>
</div>
</li>
</ul>
<input type="hidden" id="cookie_currency" value="USD" />
<div class="h4" role="heading" aria-level="2"><span style="color:#eaeaea;">Moneda</span></div>
<ul class="clearfix">
<li>
<div class="dropdown-currency dropdown" role="presentation">
<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-haspopup="true">
<span>Dólares estadounidenses $</span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu pull-right">
<li class="active"><a href="javascript:;" data-currency="USD">Dólares estadounidenses $</a></li>
<li class=""><a href="javascript:;" data-currency="AUD">Dólares australianos $</a></li>
<li class=""><a href="javascript:;" data-currency="EUR">¿Euros €</a></li>
<li class=""><a href="javascript:;" data-currency="GBP">Libras británicas £</a></li>
<li class=""><a href="javascript:;" data-currency="JPY">Yen japonés ￥</a></li>
<li class=""><a href="javascript:;" data-currency="CAD">Dólar canadiense ($)</a></li>
<li class=""><a href="javascript:;" data-currency="INR">Rupias indias ₹</a></li>
</ul>
</div>
</li>
</ul>
<div class="info-icons">
<a href="https://blog.zoom.us/" class="icon" target="_blank" tracking-id="footerBlogIcon" tracking-category="NavFooter">
<span class="sr-only">Zoom on Blog</span>
<span class="wordpress"></span>
</a>
<a href="https://www.linkedin.com/company/2532259" class="icon" target="_blank">
<span class="sr-only">Zoom on LinkedIn</span>
<span class="linkedin"></span>
</a>
<a href="https://twitter.com/zoom" class="icon" target="_blank">
<span class="sr-only">Zoom on Twitter</span>
<span class="twitter"></span>
</a>
<a href="https://www.youtube.com/zoommeetings" class="icon" target="_blank">
<span class="sr-only">Zoom on Youtube</span>
<span class="youtube-play"></span>
</a>
<a href="https://www.facebook.com/zoomvideocommunications" class="icon" target="_blank">
<span class="sr-only">Zoom on Facebook</span>
<span class="facebook"></span>
</a>
<a href="https://www.instagram.com/zoom" class="icon" target="_blank">
<span class="sr-only">Zoom on Instagram</span>
<span class="instagram"></span>
</a>
</div>
</div>
</div>
<div class="footer-copyright">
<div class="info">
Copyright &copy;2021 Zoom Video Communications, Inc. Todos los derechos reservados.<a href="https://zoom.us/es/terms.html">Términos</a>
<a href="https://zoom.us/es/privacy.html">Privacidad</a>
<a href="https://zoom.us/es/trust.html">Trust Center</a>
<a href="https://zoom.us/es/trust/legal-compliance.html">Departamento jurídico y cumplimiento normativo</a>
<a id="teconsent" style="display: none;"></a>
</div>
</div>
</div>
</div>
</div>
<div style="position: relative;min-height: 80px;" id="stopgap-warpper">
<div id="consent_blackbar" style="position:fixed; bottom: 0;width: 100%;z-index: 1000;">
</div>
</div>
</div>
<div id="fb-root"></div>
<input type="hidden" id="__platformCheck" value="" />
<div id="notification"></div>
<input type="hidden" id="detect" value="https://st2.zoom.us/cdn-detect.png"/>
<script nonce="II5ecTnRQSi6DITXqzAnnQ">
ready(function () {
var isCDNblocked = readCookie("_zm_cdn_blocked");
var blk = "unlog_blk";
var unblk = "unlog_unblk";
if (isCDNblocked === null || (isCDNblocked !== blk && isCDNblocked !== unblk)) {
var image = new Image();
delCookie("_zm_cdn_blocked");
var timer = setTimeout(function () {
image.onload = null;
createCookie("_zm_cdn_blocked", blk, 0.25);
window.location.reload(true);
}, 10000);
image.onload = function () {
clearTimeout(timer);
createCookie("_zm_cdn_blocked", unblk, 0.25);
};
image.onerror = function () {
clearTimeout(timer);
createCookie("_zm_cdn_blocked", blk, 0.25);
window.location.reload(true);
};
var url = document.getElementById("detect").value;
image.src = url;
}
});
function ready(callback) {
if (document.readyState !== 'loading') callback();
else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
else document.attachEvent('onreadystatechange', function () {
if (document.readyState === 'complete') callback();
});
}
function createCookie(name, value, days) {
if (days) {
var date = new Date();
date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
var expires = "; expires=" + date.toUTCString();
}
else var expires = "";
document.cookie = name + "=" + value + expires + "; path=/; secure=true; domain=" + ".zoom.us";
}
function readCookie(name) {
var equal = name + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') c = c.substring(1, c.length);
if (c.indexOf(equal) == 0) return c.substring(equal.length, c.length);
}
return null;
}
function delCookie(name) {
createCookie(name,"",-1);
}
</script>
<style type="text/css">
@media screen and (max-width: 767px) {
.navbar-signup-header .navbar-header {
display: block;
float: left;
border: none;
}
.navbar-signup-header .collapse {
display: block;
}
#header_container .container > .navbar-collapse {
background-color: #fff;
border: none;
}
#header_outer .navbar-signup-header .navbar-collapse .navbar-right {
float: right;
margin-top: 4px;
}
}
</style>
<script nonce="II5ecTnRQSi6DITXqzAnnQ">
var isFreeAccount = true;
var SB = {
version: '5.0.94180.0417.65737e57',
contextPath: '',
baseUrl: 'https://zoom.us',
baseStaticUrl: 'https://st3.zoom.us/static/94180',
loggedIn: false,
fbLoggedIn: false,
fbAppkey: '113289095462482',
fbAppPage: 'https://apps.facebook.com/zoomvideocall/',
fbScope: 'email,public_profile',
pardotPaymentUrl : 'https://go.pardot.com/l/84442/2015-07-23/mw5t',
pardotBuyUrl : 'https://go.pardot.com/l/84442/2015-07-14/4xht',
pardotSubscriptionUrl : 'https://go.pardot.com/l/84442/2015-07-23/mv5y',
pardotActivateUserUrl : 'https://go.pardot.com/l/84442/2015-10-23/mspcv',
noSignup: 'false',
languagePref: 'es-ES',
isGDPRCountry: false
};
</script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st3.zoom.us/static/94180/js/lib/vue/vue.min.js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st2.zoom.us/static/94180/js/lib/vue/zoom-components.min.js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st3.zoom.us/static/94180/js/lib/vue/advanced/popup-captcha/popup-captcha.min.js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ">
// common captcha setting
var routingUrl=""
var hCaptchaSiteKey="df6242b3-aef1-4156-bf8e-c5f258d9e602"
var isCN = false;
var isSupportGoogleCaptcha = true;
var isSupportGoogleCaptchaForCN = true || false
var isSupportHcaptcha = false;
var isSmartCaptcha = true; // default
var isHcaptcha = false; // default
if (isSupportGoogleCaptcha) {
// google captcha
if (!isCN || isSupportGoogleCaptchaForCN) {
isSmartCaptcha = false;
isHcaptcha = false;
}
} else if (isSupportHcaptcha){
// hcaptcha
isSmartCaptcha = false;
isHcaptcha = true;
} else {
// smart captcha
isSmartCaptcha = true;
isHcaptcha = false;
}
</script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st1.zoom.us/static/94180/js/all.min.js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ">
$.i18n.load({
"common.btn_close": "Cerrar",
"common.btn_yes": "Sí",
"common.btn_no": "No",
"common.title.prompt": "Indicación",
"common.title.confirmation": "Confirmación",
"common.unknown_error": "¡Error desconocido!",
"common.error": "Error",
"common.enter_time_in_12_hour": "Ingresar una hora válida en 12 horas",
"common.tips": "Consejos, pulse Intro para expandir",
"jquery.validation_required":"Este campo es obligatorio.",
"jquery.validation_remote":"Repare este campo.",
"jquery.validation_email":"Ingrese una dirección de correo electrónico válida.",
"jquery.validation_url":"Ingrese una URL válida.",
"jquery.validation_date":"Ingrese una fecha válida.",
"jquery.validation_dateISO":"Ingrese una fecha válida (ISO).",
"jquery.validation_number":"Ingrese un número válido.",
"jquery.validation_digits":"Ingrese solo dígitos.",
"jquery.validation_creditcard":"Ingrese un número de tarjeta de crédito válido.",
"jquery.validation_equalTo":"Ingrese el mismo valor otra vez.",
"jquery.validation_maxlength":"No ingrese más de {0} caracteres.",
"jquery.validation_minlength":"Ingrese {0} caracteres como mínimo.",
"jquery.validation_rangelength":"Ingrese un valor entre {0} y {1} caracteres.",
"jquery.validation_range":"Ingrese un valor entre {0} y {1}.",
"jquery.validation_max":"Ingrese un valor inferior o igual a {0}.",
"jquery.validation_min":"Ingrese un valor superior o igual a {0}.",
"billing.pastdue.notice":"Aviso de vencimiento",
"billing.pastdue.balance_new":"Su cuenta tiene un saldo pendiente de {0}{1} adeudado.",
"billing.pastdue.terminate_time":"Su tipo de cuenta se cambiará a un plan Basic el {0} si no se paga el saldo.",
"billing.pastdue.terminate_soon":"Su tipo de cuenta se cambiará a un plan Basic muy pronto si no se paga el saldo.",
"billing.pastdue.this_means":"Esto significa que perderá muchas de las funciones que tiene actualmente.",
"billing.pastdue.pay_online":"<a href=\"/billing/report\" onClick=\"ga('send', 'event', 'billing', 'click-pastdue-paynow-link', 'Past Due Notification Pay Now Link');\">Haga clic aquí</a> para pagar en línea o llámenos al 1.888.799.9666 de inmediato para evitar la interrupción del servicio.",
"billing.pastdue.contact_sales":"<a href=\"/contactsales\" target=\"_blank\">Póngase en contacto con el departamento de ventas</a> o llámenos de inmediato al tel. 1.888.799.9666 para evitar la interrupción de su servicio.",
"billing.tax_exemption.label":"Estado de impuestos",
"billing.tax_exemption.link":"Verificar estado de exención de impuestos",
"billing.tax_exemption.link_desc":"Se le redirigirá al ECMS para validar su estado de exención de impuestos.<br/>Asegúrese de no bloquear las ventanas emergentes.",
"billing.tax_exemption.in_progress_title":"Verificación de exención de impuestos en curso",
"billing.tax_exemption.in_progress_desc":"Complete su verificación de exención de impuestos en nuestro sitio web para socios. Cuando haya finalizado la verificación de su estado de impuestos, regresará aquí para completar su pedido.<br/><br/>No realice ningún cambio en esta página ni la cierre hasta que la verificación se haya completado. Si ya no necesita continuar con la exención de impuestos puede cerrarla y continuar con la realización de su pedido.",
"billing.tax_exemption.in_progress_close_button":"Cerrar",
"billing.tax_exemption.quit_progress_title":"¿Está seguro?",
"billing.tax_exemption.quit_progress_desc":"¿Está seguro que desea abandonar la verificación de exención de impuestos y proceder como apto para impuestos?",
"billing.tax_exemption.quit_progress_confirm":"Sí, abandonar",
"billing.tax_exemption.quit_progress_cancel":"No, continuar",
"billing.tax_exemption.status_incomplete":"Verificación incompleta, haga clic nuevamente si desea estar exento de impuestos",
"billing.tax_exemption.status_exempt":"Exento de impuestos",
"billing.tax_exemption.status_exempt_short":"Exento",
"billing.tax_exemption.status_pending":"Pendiente",
"billing.tax_exemption.status_pending_desc":"Su estado de exención de impuestos está actualmente en revisión. Se le cargarán los impuestos una vez que haya realizado este pedido. En caso de que la revisión se apruebe le otorgaremos un crédito con los impuestos cargados a su cuenta.",
"billing.tax_exemption.status_nonexempt":"Non-Exempt",
"meeting.upcoming_meetings":"Próximas reuniones",
"meeting.current.start_this_meeting":"¿Desea dar comienzo a esta reunión?",
"meeting.current.start_these_meetings":"¿Desea dar comienzo a una de estas reuniones?",
"meeting.current.view_more":"Ver más...",
"meeting.current.start_new_meeting":"Iniciar una nueva reunión",
"meeting.password.opt_out_acceptChange_success":"Los códigos de acceso para su cuenta se activarán de manera predeterminada el {0}.",
"meeting.password.opt_out_success":"Los códigos de acceso no se habilitarán de manera predeterminada para su cuenta.",
"meeting.opt_out_desc.zr_upgrade1":"Los códigos de acceso para su cuenta se activarán de manera predeterminada el {0}.",
"meeting.opt_out_desc.zr_upgrade2":"Le recomendamos que actualice su <a href=\"/location\">Zoom Rooms y el controlador de Zoom Rooms</a> a la última versión para que el proceso de incorporación sea óptimo",
"meeting.password.opt_out_notice_title":"Actualización importante",
"meeting.password.opt_out_notice":"Zoom actualizará los ajustes de su cuenta para activar códigos de acceso de manera predeterminada para las reuniones y los seminarios web el {0}. <a href=\"javascript:void(0)\" onclick=\"showMeetingPassWordOptOut()\">Haga clic</a> aquí para obtener más información o para deshacer este cambio."
});
</script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st3.zoom.us/static/94180/js/app/jquery.validate.message.min.js"></script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" type="text/javascript">
$(window).on('load',function(){
window.location = 'https://zoom.us/client/latest/ZoomInstaller.exe';
window.setTimeout(function() {
var dowloadTipNode = $('#chrome_download_tip');
dowloadTipNode.appendTo(document.body);
dowloadTipNode.animate({
bottom: 0,
opacity: 1.0
}, 1500 );
}, 3000);
});
</script>
<style>
.ada-embed-drawer__iframe-container{
max-height: 550px !important;
max-width: 330px !important;
margin: 10px 10px 10px 10px !important;
}
</style>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" type="text/javascript">
window.adaSettings = {
authCallback: function(callback) {
var isIE = false;
if (isIE) {
$.ajax({
type: "GET",
url: "/zendesk/chat_jwt",
dataType: 'text',
success: function(response) {
callback(response);
}
});
} else {
fetch("/zendesk/chat_jwt").then(function(res) {
res.text().then(function(jwt){
callback(jwt);
});
});
}
},
hideMask: true,
crossWindowPersistence: {enabled: true,domain: ".zoom.us"},
language: "es",
metaFields: {
support_chat: false,
restrict_chat: false,
group: "support",
currentURL:"https://zoom.us/support/download",
country: "mx"
}
}
</script>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" id="__ada" data-handle="zoom" src="https://static.ada.support/embed.js"></script>
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<div id="upcomingMeetingDialog" class="modaldialog hideme upcomingMeeting-feature-dialog">
<input type="hidden" name="mtg_length" id="mtg_length">
<input type="hidden" name="mtg_length1" id="mtg_length1">
<input type="hidden" name="start_url" id="start_url">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header clearfix">
<button class="close simplemodal-close" aria-label="close">&times;</button>
<h4 tabindex="-1" id="upcoming-meeting-title" class="meeting-delete-header-font" style="display: inline-block;">Próximas reuniones</h4>
</div>
<div class="modal-body">
<div class="form-group" style="margin-bottom:16px;">
<div id="one-mtg" class="controls hideme" style="margin-bottom:18px;">¿Desea dar comienzo a esta reunión?</div>
<div id="more-mtg" class="controls hideme" style="margin-bottom:18px;">¿Desea dar comienzo a una de estas reuniones?</div>
<div id="mtgs">
</div>
<div id="viwe-more" class="controls hideme"><a href="/meeting">Ver más...</a></div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary submit" id="scheduleMtg" style="background-color: #fff;color: #232333;border-color: #747487">Iniciar una nueva reunión</button>
</div>
</div>
</div>
</div>
<link rel="stylesheet" type="text/css" href="https://st3.zoom.us/static/94180/css/meetings/meeting_delete_dialog.min.css" /><script nonce="II5ecTnRQSi6DITXqzAnnQ" type="text/javascript">
/*Past Due Invoice Message*/
var cookieLang = $.cookie('_zm_lang');
if (cookieLang == "" || cookieLang == null) {
$.cookie('_zm_lang', "es-ES", {expires: 365, path: '/', domain: ".zoom.us", secure: true});
}
</script>
</div>
<script nonce="II5ecTnRQSi6DITXqzAnnQ" src="https://st1.zoom.us/static/94180/js/lib/vue/advanced/notification/notification.min.js"></script>
<style type="text/css">
.optout-notice-wrapper {
width: 100%;
display: none;
position: relative;
}
.optout-notice-container {
padding: 24px 48px 24px 24px;
}
.meeting-disabledpmi-alert{
min-width:415px;
}
.meeting-edit-disabledpmi-alert{
min-width:553px;
}
.meeting-edit-disabledpmi-alert p,.meeting-disabledpmi-alert p{
line-height: inherit;
}
@media only screen and (max-width: 414px) {
.optout-notice-container {
padding: 10px 20px;
}
}
.optout-notice-container div {
display: inline-block;
}
.optout-notice-title {
font-weight: bold;
line-height: 150%;
}
.optout-notice-medium {
background-color: #FCF6ED;
color: #775111;
}
.optout-notice-low {
background-color: #E4F7EB;
color: #1C7E41;
}
.optout-notice-high {
background-color: #FFE8E8;
color: #B22424;
}
.optout-notice-container a {
color: #0065F2;
font-weight: bold;
text-decoration: none;
}
.optout-notice-content {
padding-right: 24px;
}
.optout-notice-close {
position: absolute;
top: 10px;
right: 23px;
font-size: 30px;
color: #232333;
cursor: pointer;
border: none;
background: transparent;
}
.optout-notice-close:before {
content: '\00d7';
}
#content_container.content_container_hide_header{
padding-top:0px;
}
.body_hide_footer{
background: #fff;
}
</style>
</body>
</html>